<div class="content">
  <div class="row">
    <div class="col-md-6 px-2">
    	<h1 class=" font-weight-bold">Test Kasutaja</h1>
    	<p><span class="font-weight-bold">Vanus:</span> 33</p>
    	<p><span class="font-weight-bold">E-mail:</span> test.kasutaja@test.ee</p>
    	<p><span class="font-weight-bold">Telefon:</span> +372 54 504 439</p>
    	<p><span class="font-weight-bold">Lisatud lugusid:</span> 354</p>
    	<p class="font-weight-bold">Lisainfo:</p>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam molestias tempora magnam neque maiores voluptatem veritatis quis, perferendis rerum, porro error culpa quod consequatur laborum.</p>
    </div>
    <div class="col-md-6">
      <h2 class="font-weight-bold">Lisatud lood:</h2>
      <div class="artist-row"><img class="artist-img" src="assets/img/Eplik-c.jpg" alt=""> <p><span class="font-weight-bold">Vaiko Eplik</span> - Soorebased</p></div>
    </div>
  </div>
</div>