.navbar {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

.navbar-brand {
  padding-top: 2px;
}

.bg-dark {
  background-color: #080808!important;
}

.form-control {
  background-clip: inherit;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  width: 300px;
}

button:focus {outline:0;}

a {
  cursor: pointer;
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
}

.dropdown-item {
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-toggle::after {
  display: none;
}

.logo {
  height: 33px;
}
