<div class="container" data-aos="fade-down" data-aos-duration="500">
  <div class="flex-item text">
    <h1 class=""mainPhrase>Kõik <span class="highlight">akordid</span> ühest kohast</h1>
    <h6>Vaata, mängi ja lisa tuntud ning vähem tuntud eesti muusikat</h6>
    <ul class="mainList">
      <li><svg-icon src="/assets/svg/flickr.svg" [svgStyle]="{ 'width.px':20, 'fill':'rgb(0,168,97)' }"></svg-icon> Muuda laulude helistikku</li>
      <li><svg-icon src="/assets/svg/flickr.svg" [svgStyle]="{ 'width.px':20, 'fill':'rgb(0,168,97)' }"></svg-icon> Lisa uut materjali</li>
      <li><svg-icon src="/assets/svg/flickr.svg" [svgStyle]="{ 'width.px':20, 'fill':'rgb(0,168,97)' }"></svg-icon> Lae alla lugusid PDF formaadis</li>
      <li><svg-icon src="/assets/svg/flickr.svg" [svgStyle]="{ 'width.px':20, 'fill':'rgb(0,168,97)' }"></svg-icon> Salvesta oma lemmiklood, et need enda profiili alt kiiresti üles leida</li>
    </ul>
  </div>
  <div class="flex-item image">
    <img src="/assets/img/splash.png" alt="">
  </div>
</div>

<div class="dataContainer">
  <div class="data-flex-item" data-aos="fade-up" data-aos-duration="700">
    <h6 class="cardHeader"><svg-icon src="/assets/svg/levels.svg" [svgStyle]="{ 'width.px':32, 'fill':'rgb(0,168,97)' }"></svg-icon> Populaarseimad lood</h6>
    <ul>
      <li [routerLink]="'/song/' + popular.id" class="popListItem" *ngFor="let popular of popularSongs"><div class="popListItemCol"><span class="bandName">{{popular.band?.name}}</span> {{popular.name}}</div><div class="popListItemCol like"><span>{{popular.likeCount}} </span> <svg-icon class="likeIcon" src="/assets/svg/heart.svg" [svgStyle]="{ 'width.px':16, 'fill':'rgb(0,168,97)','margin-bottom.px':4 }"></svg-icon> </div></li>
    </ul>
    <button (click)="logPop()">Vaata veel</button>
  </div>
  <div class="data-flex-item" data-aos="fade-up" data-aos-duration="900">
    <h6 class="cardHeader"><svg-icon src="/assets/svg/boombox.svg" [svgStyle]="{ 'width.px':32, 'fill':'rgb(0,168,97)','margin-bottom.px':5 }"></svg-icon> Populaarseimad ansamblid</h6>
    <button>Vaata veel</button>
  </div>
  <div class="data-flex-item" data-aos="fade-up" data-aos-duration="700">
    <h6 class="cardHeader"><svg-icon src="/assets/svg/fast-forward.svg" [svgStyle]="{ 'width.px':25, 'fill':'rgb(0,168,97)','margin-bottom.px':5  }"></svg-icon> Viimati lisatud lood</h6>
    <ul>
      <li [routerLink]="'/song/' + recent.id" class="popListItem" *ngFor="let recent of recentSongs"><div class="popListItemCol"><span class="bandName">{{recent.band?.name}}</span> {{recent.name}}</div></li>
    </ul>
    <button (click)="logRec()">Vaata veel</button>
  </div>
</div>
