<div class="sidebar">
  <ul class="menu">
    <li *ngIf="!userData" class="userButton" (click)="openLoginModal()"><i class="fas fa-user"></i> Logi sisse</li>
    <li [routerLink]="['/profile']" *ngIf="userData" class="userButton"><i class="fas fa-user"></i>  {{ userData?.username }}</li>
    <li (click)="onLogout()" *ngIf="userData" class="userButton">Logi välja</li>
    <li><i class="fas fa-list-ul"></i> Ansamblid</li>
    <li *ngIf="userData"><i style="color: #00A861" class="fas fa-plus"></i> Lisa lugu</li>
    <li *ngIf="userData?.roles[0].name === 'admin'">Test</li>
    <li *ngIf="userData?.roles[0].name === 'moderator'">Test2</li>
  </ul>
</div>
