.sidebar {
  background-color: #181A26;
  width: 190px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.menu {
  margin-top: 55px;
  padding: 0;
  list-style: none;
}

li {
  padding: 10px;
  text-align: center;
  background-color: #090B18;
  color: #f6f5f7;
  font-size: 12px;
  width: 100%;
}

.userButton {
  background: #00A861;
  cursor: pointer;
}
