/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #00A861;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  background: url('/assets/img/amplifier-768536_1920.jpg');
  background-size: cover;
  background-repeat: none;
}

#content{
  margin-left:190px;
  margin-top: 55px;
  min-height: calc(100vh - 55px);
}

.loginModal {
  max-width: 750px;
}
