<div class="container">
  <h1 class="closeBtn"><i (click)="close()" class="fas fa-times"></i></h1>
  <div class="sidebar">
    Muuda parooli
  </div>
  <div class="content">
    <form [formGroup]="passwordForm">
      <h1>Vana parool*</h1>
      <input required formControlName="oldPassword" placeholder="Sisesta vana parool" class="bandNameInput" type="password">
      <div *ngIf="passwordFormSubmitted && passwordForm.controls.oldPassword.errors" class="validationError">
        <div *ngIf="passwordForm.controls.oldPassword.errors.required"><svg-icon src="/assets/svg/megaphone.svg" [svgStyle]="{ 'width.px':18, 'fill':'rgb(0,168,97)', 'margin-bottom.px':5 }"></svg-icon> Väli on <b>kohustuslik!</b></div>
      </div>
      <h1>Uus parool</h1>
      <input required minlength="8" formControlName="newPassword" placeholder="Sisesta uus parool" class="bandNameInput" type="password">
      <div *ngIf="passwordFormSubmitted && passwordForm.controls.newPassword.errors" class="validationError">
        <div *ngIf="passwordForm.controls.newPassword.errors.required"><svg-icon src="/assets/svg/megaphone.svg" [svgStyle]="{ 'width.px':18, 'fill':'rgb(0,168,97)', 'margin-bottom.px':5 }"></svg-icon> Väli on <b>kohustuslik!</b></div>
        <div *ngIf="passwordForm.controls.newPassword.errors.minlength">Parool peab olema vähemalt 8 tähemärki pikk</div>
      </div>
      <h1>Uue parooli kordus</h1>
      <input required formControlName="repeatPassword" placeholder="Sisesta uus parool uuesti" class="bandNameInput" type="password">
      <div *ngIf="passwordFormSubmitted && passwordForm.controls.repeatPassword.errors" class="validationError">
        <div *ngIf="passwordForm.controls.repeatPassword.errors.required"><svg-icon src="/assets/svg/megaphone.svg" [svgStyle]="{ 'width.px':18, 'fill':'rgb(0,168,97)', 'margin-bottom.px':5 }"></svg-icon> Väli on <b>kohustuslik!</b></div>
        <div *ngIf="passwordForm.controls.repeatPassword.errors.MatchPassword"><svg-icon src="/assets/svg/megaphone.svg" [svgStyle]="{ 'width.px':18, 'fill':'rgb(0,168,97)', 'margin-bottom.px':5 }"></svg-icon> Paroolid ei <b>kattu!</b></div>
      </div>
      <div class="buttonDiv">
        <button type="button" class="submitButton" (click)="changePassword()">Muuda parooli</button>
      </div>
    </form>
  </div>
</div>
